@charset "utf-8";
/* CSS Document */
.title_table{
	font-size:120%;
	
	
	
}

.info_div{
	padding-left:20px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:80%;
	
}

.div_q_inside{
	padding-left:70px;
	
}

.white_topper{
	background-color:#FFFFFF;
	padding-top:10px;
	padding-bottom:10px;	
}

.divider_qa{
	min-height: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px ridge #CCCCCC;
}

.href_container{
	margin-top: 10px;
	margin-bottom: 5px;
}

.href_container a{
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	-webkit-box-shadow: inset 0px 0px 3px #0099FF;
	box-shadow: inset 0px 0px 3px #0099FF;
	-webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	-ms-transition: all 500ms;
	-o-transition: all 500ms;
	transition: all 500ms;
	color: #333333;
}.href_container a:hover {
	background-color: #0099FF;
	color: #FFFFFF;
}


.info_div_a{
	
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:80%;
	
}